<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.maindata.materials.mapper.YujiakejiMaterialsMapper">

    <select id="queryByMaterialCode"
            resultType="org.jeecg.modules.maindata.materials.entity.YujiakejiMaterials">
        SELECT
            t1.* ,
            t0.total_qty as stock_qty
        FROM
            inv_stock t0
                INNER JOIN yujiakeji_materials t1 ON t0.material_code = t1.material_code
        WHERE
            t0.del_flag = 0
          AND t0.total_qty > 0
          AND t0.material_code = #{materialCode}
          AND t0.warehouse_code=#{warehouseCode}
    </select>
</mapper>