<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.prd.prdreport.mapper.PrdReportDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  prd_report_detail 
		WHERE
			 pid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.prd.prdreport.entity.PrdReportDetail">
		SELECT * 
		FROM  prd_report_detail
		WHERE
			 pid = #{mainId} 	</select>
</mapper>
